* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .container {
    background-color: #f1f1f1; /* Light grey background color */
    border: 2px solid grey;
    width: 50%; /* Adjust the width as desired */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; /* Adjust the border radius as desired */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add background shadow */
    overflow: hidden;
  }
  
  .container .text {
    padding: 20px;
    text-align: center;
  }
  
  .container .text #quotes {
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 20px;
  }
  
  .container .text #author {
    margin-top: 20px;
    text-align: right; /* Align author name to the right */
    font-family: Arial, sans-serif; /* Adjust the font family as desired */
    font-style: italic;
  }
  
  .container .button {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .container .button #newQuotes {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    background-color: rgb(50, 124, 124);
    border-radius: 5px; /* Adjust the border radius as desired */
    cursor: pointer;
  }
  
  .container .button #newQuotes:hover {
    background-color: rgb(30, 94, 94); /* Darker background color on hover */
  }
  
  footer {
    position: fixed; /* Change to fixed positioning */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Dark background color */
    padding: 20px 0;
    color: white;
    text-align: center;
  }
  
  .footer-content {
    font-size: 16px;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  